@model MisteriosDaNaturaleza.Modelos.ViewModelos.CarroViewModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<form method="post">
    @if (Model.ListaDestinos.Count > 0)
    {
<br />
                <div class="backgroundWhite container">
                    <div class="card">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-12 d-none d-md-block col-md-6 pb-1">
                                <i class="fas fa-shopping-cart"></i> &nbsp; Resumen de pedido
                            </div>
                            <div class="col-12 col-md-4 offset-md-2 text-right">
                                <a asp-action="Index" asp-controller="Carro" asp-area="Cliente" class="btn btn-outline-info form-control btn-sm">Volver a carro</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container rounded p-2">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="col-12 col-lg-6 pb-4">
                                        <div class="row">
                                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                                <span class="text-primary">Detalles de encargo:</span>
                                            </h4>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Nome</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="CabeceiraPedido.Nome" id="txtNome" type="text" class="form-control" />
                                                <span asp-validation-for="CabeceiraPedido.Nome" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Telefono</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="CabeceiraPedido.Telefono" id="txtTelefono" type="text" class="form-control" />
                                                <span asp-validation-for="CabeceiraPedido.Telefono" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Direccion</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="CabeceiraPedido.Direccion" type="text" class="form-control" />
                                                <span asp-validation-for="CabeceiraPedido.Direccion" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Poblacion</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="CabeceiraPedido.Poblacion" type="text" class="form-control" />
                                                <span asp-validation-for="CabeceiraPedido.Poblacion" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Codigo Postal</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="CabeceiraPedido.CP" type="text" class="form-control" />
                                                <span asp-validation-for="CabeceiraPedido.CP" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="CabeceiraPedido.Email" type="text" class="form-control" />
                                                <span asp-validation-for="CabeceiraPedido.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-5 offset-lg-1">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-primary">Resumen de pedido</span>
                                        </h4>
                                        <ul class="list-group mb-3">
                                            @{ var total = 0.0;}

                                            @foreach (var detalles in Model.ListaDestinos)
                                            {
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <input type="hidden" asp-for="@detalles.Id" />
                                    <h6 class="my-0">@detalles.Nome</h6>
                                    <small class="text-muted">Frecuencia da viaxe: @detalles.Frecuencia.Nome</small>
                                </div>
                                <span class="text-muted">$@(detalles.Precio*detalles.Frecuencia.ContaFrecuencia)</span>
                                @{ total += (detalles.Precio * detalles.Frecuencia.ContaFrecuencia);}
                            </li>}

                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                <small class="text-primary">Total (Euros)</small>
                                                <strong class="text-primary">$@total</strong>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 text-right">
                                <button type="submit" class="btn btn-success form-control">Realizar Pedido</button>
                            </div>
                        </div>
                    </div>
                </div> }
                            else
                            {
                <div class="backgroundWhite"> Non se solicitou ningunha viaxe...</div>}
</form>